<form action="/make_move" method="post"> 
    <table rules="all";>
        <tr>
            <th><%=board[0]%></th>
            <th><%=board[1]%></th>
            <th><%=board[2]%></th>
        </tr>
        <tr>
            <th><%=board[3]%></th>
            <th><%=board[4]%></th>
            <th><%=board[5]%></th>
        </tr>
        <tr>
            <th><%=board[6]%></th>
            <th><%=board[7]%></th>
            <th><%=board[8]%></th>
        </tr>
</table>
<br>
<p class="center" ><button id="welcome" type="submit" value="submit"><span style="cursor:pointer"><%=enter%></button></span></p>   
</form>
</form>