<center><h4>WELCOME!</h4>
<br>
<h1>Let's play Tic Tac Toe!!</h1>
<br>
<form action="/input" method="post">
    <table style = "width:350px; height:350px"; rules="all">
        <tr>
            <th><%=board%></th>
            <th><%=board%></th>
            <th><%=board%></th>
        </tr>
        <tr>
            <th><%=board%></th>
            <th><%=board%></th>
            <th><%=board%></th>
        </tr>
        <tr>
            <th><%=board%></th>
            <th><%=board%></th>
            <th><%=board%></th>
        </tr>
</table>
<br>
<button type="submit" value="submit"><span style="cursor:pointer">Enter if you dare!</button></span></center>    

</form>
